$body-font: "Nunito Sans",
Arial,
Tahoma,
Verdana,
sans-serif;
$form-font: "Nunito Sans",
Arial,
Tahoma,
Verdana,
sans-serif;
$label-font: "Nunito Sans",
Arial,
Tahoma,
Verdana,
sans-serif;
$button-font: "Nunito Sans",
Arial,
Tahoma,
Verdana,
sans-serif;
$heading-font: "Nunito Sans",
Arial,
Tahoma,
Verdana,
sans-serif;
$copy-font: "Nunito Sans",
Georgia,
serf;
$nav-font: 'Nunito Sans',
sans-serif;
//